<!-- Autor:  Ana Sofia Alfonso -->

{% extends "core/base_auth.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Iniciar sesión" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card p-4 shadow-sm">
            <h2 class="text-center mb-4">{% trans "Iniciar sesión" %}</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-brand w-100">
                   {% trans "Entrar" %}
                </button>
            </form>
            <p class="mt-3 text-center">
                {% trans "¿No tienes cuenta?" %} <a href="{% url 'register' %}">{% trans "Regístrate aquí" %}</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
