<!-- Autor: Jhon Freddy Alzate -->

{% extends "core/base_admin.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-4">
  <h2>{% trans "Editar Receta" %}</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <h5>Multimedia</h5>
    {{ media_form.as_p }}

    <button type="submit" class="btn btn-brand">{% trans "Guardar cambios" %}</button>
    <a href="{% url 'admin_recipe_detail' recipe.pk %}" class="btn btn-secondary">{% trans "Cancelar" %}</a>
  </form>
</div>
{% endblock %}
